/* backgrounds untuk about */
.background-about {
    position: relative;
    width: 100%;
    height: 1720px;
    background: linear-gradient(#1768bb, #a5d2ff);
    overflow: hidden;
}

.bga1,
.bga2,
.bga3,
.bga4,
.bga5,
.bga6,
.bga7 {
    position: absolute;
}

.bga2 {
    width: 55%;
    left: 0;
    z-index: -1;
    top: 0;
}

.bga1 {
    width: 80%;
    right: 0px;
    z-index: -1;
    top: 0;
}

.bga3 {
    z-index: 2;
    top: 500px;
    width: 46%;
    left: 270px;
}

.bga5 {
    z-index: -1;
    top: 530px;
    left: 120px;
}

.bga4 {
    z-index: 1;
    top: 617px;
    left: 283px;
    transform: rotate(-1deg);
    width: 50%;
}

.bga6 {
    bottom: -40px;
    right: -20px;
    z-index: 1;
    width: 30%;
}

.bga7 {
    bottom: 0;
    right: 0;
    width: 38%;
}

.profil-about {
    position: absolute;
    width: 20%;
    top: 90px;
    left: 130px;
    border-radius: 50%;
    box-shadow: 18px 21px 24px rgba(0, 0, 0, .3);
}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    
 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }