* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
}

nav {
	max-width: 200px;
	margin: 0 auto;
}

nav ul li {
	display: inline;
}

nav ul li a {
	list-style: none;
	text-decoration: none;
	color: white;
}

.nav-link {
	margin: 0 20px;
	font-size: calc(1vmax + 1.2rem);
}

nav ul li img#left,
nav ul li img#right {
	height: calc(1vmax + .8rem);
}

.nav-container {
	background-color: #055DB7;
	box-shadow: 0px 5px 13px rgba(0, 0, 0, .3);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	z-index: 3;
	position: relative;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
	height: 50px;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){
	nav{
		max-width:calc(20vmax + 3rem);
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }